body {
    background: #222323;
    margin: 0px;
}
ul.Navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333232;
    position: sticky;
    filter: drop-shadow(0px 2px 7px #000000);
}

ul.Navbar li:hover {
    background-color: #4b4b4b;
}
ul.Navbar li {
    float: left;
    margin-left: 5px;

}
ul.Navbar li a {
    display: inline-block;
    color: #d6d3f3;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: verdana, helvetica, arial;
    margin-top: 3px;
    margin-bottom: 3px;
    margin-left: 3px;
}

